<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mx.gillustrated"
    android:versionCode="600"
    android:versionName="6.0.0" >
    <!-- 对外部存储设备的写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.GET_CLIPS" />
    <uses-permission android:name="android.permission.READ_CLIPS" />
    <uses-permission android:name="android.permission.WRITE_CLIPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode" >
        <activity
            android:exported="true"
            android:name=".activity.MainActivity"
            android:screenOrientation="fullSensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.AddCardActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.GameListActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.GameInfoActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.EventsActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.EventInfoActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.ImageAdjustActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".activity.CultivationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".activity.FlutterEventsActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/AppTheme.Blue"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.StopService"
            android:enabled="true" >
        </service>
    </application>

</manifest>